table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.zahlavie {
    background-color: #14a61a;
    font-weight: bold;

}
th::first-letter {
    color: #AED124;
}

tr:nth-child(even) {
    background-color: rgba(178, 168, 168, 0.95);
}
td:nth-child(2) {
   text-transform: uppercase;
}