table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.zahlavie {
    background-color: #14a61a;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: -1px;

}
th::first-letter {
    color: #AED124;
}

tr:nth-child(even) {
    background-color: rgba(178, 168, 168, 0.95);
}
td:nth-child(2) {
   text-transform: uppercase;
}
.data tr:hover td{
    background-color: darkslategray;
}
.data tr:hover td:first-child:not(:hover){
    color: red;
}
td:nth-child(4) {
    text-align: center;
}
td:nth-child(5) {
    text-align: center;
}td:nth-child(6) {
     text-align: center;
 }
/*.data tr td:nth-child(n+4):nth-child(-n+6){
    text-align: center;
}*/

.data tr:hover td:nth-child(n+4):nth-child(-n+6){
    background-color: blue;
}
.data tr td:hover:nth-child(n+4):nth-child(-n+6){
    background-color: green;
}
.data tr td:hover:nth-child(n+4) ~ td:nth-child(-n+6) {
    background-color: yellow;
}

td:nth-child(7) {
    display: none;
 }
th:nth-child(7) {
    display: none;
}
.data td a[href^="https:"] {
    color: green;
}

.data td a[href^="http:"] {
    color: red;
}

.data td a:not([href^="http"]) {
    color: blue;
}
.data td a[href$=".pdf"]::after {
    content: "(PDF)";
}

